<div class="container">
  <slot />
</div>

<style>
  .container {
    --container-width: 100%;

    @media (--medium-viewport) {
      --container-width: 768px;
    }

    @media (--large-viewport) {
      --container-width: 1024px;
    }

    margin: 0 auto;
    padding: 0 var(--default-layout-padding-x);
    position: relative;
    width: var(--container-width);
  }
</style>
