<div class="narrow-container">
  <slot />
</div>

<style>
  .narrow-container {
    --container-width: 768px;

    @media (width <= 768px) {
      --container-width: 100%;
    }

    margin: 0 auto;
    padding: 0 var(--default-layout-padding-x);
    position: relative;
    width: var(--container-width);
  }
</style>
