---
import ArticleExternalLink from './ArticleExternalLink.astro';

type Props = {
  references: {
    href: string;
    title: string;
  }[];
};

const { references } = Astro.props;
---

<div class="article-references">
  <h2 class="title">References</h2>

  <ul>
    {
      references.map(reference => (
        <li>
          <ArticleExternalLink href={reference.href} title={reference.title} />
        </li>
      ))
    }
  </ul>
</div>

<style>
  .article-references {
    margin: 0 0 1.5rem;

    & .title {
      font-size: 1.3rem;
      font-weight: 500;
    }
  }
</style>
