---
import { Image } from '@astrojs/image/components';
import twitterSvg from '../../assets/icons/twitter.svg';

type Props = {
  title: string;
};

const { title } = Astro.props;
---

<div class="article-heading">
  <h1 class="title">{title}</h1>
  <a
    class="link"
    href={`https://twitter.com/intent/tweet?url=${Astro.url.href}&text=${title}`}
    rel="nofollow noopener noreferrer"
    target="_blank"
    hidden
  >
    Share
    <Image class="icon" src={twitterSvg} alt="Twitter icon" />
  </a>
</div>

<style>
  .article-heading {
    align-items: center;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    margin: 1rem 0;
    gap: 1rem;

    & .title {
      margin: 0;
    }

    & .link {
      text-decoration: none;
      color: var(--c-black);
      font-weight: 500;
      border-radius: var(--default-border-radius);
      border: 2px solid var(--c-black);
      display: flex;
      align-items: center;
      padding: 0.2rem 0.5rem;

      & .icon {
        padding: 0 0 0 0.5rem;
      }
    }
  }
</style>
