---
import Header from './Header.astro';
import Footer from './Footer.astro';

export interface Props {
  title: string;
  meta?: {
    twitter?: {
      title: string;
      description: string;
    };
  };
}

const { title, meta } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />

    <title>Paweł Mrowiec - {title}</title>

    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="format-detection" content="telephone=no" />

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@400;500&display=swap" rel="stylesheet" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />

    {/* SEO related tags */}
    <meta name="description" content="Paweł Mrowiec's portfolio, articles and contact information." />
    <meta
      name="keywords"
      content="paweł mrowiec,tavoite,it,php,javascript,nodejs,deno,html,css,symfony,react,nextjs,linux,dev,frontend,backend,fullstack,freelance,freelancer"
    />
    {
      meta?.twitter && (
        <>
          <meta name="twitter:card" content="summary" />
          <meta name="twitter:site" content="@Mrowa94" />
          <meta name="twitter:title" content={meta.twitter.title} />
          <meta name="twitter:description" content={meta.twitter.description} />
        </>
      )
    }
  </head>
  <body>
    <Header />

    <main>
      <slot />
    </main>

    <Footer />
  </body>
</html>
<style is:global>
  :root {
    --default-layout-padding-x: 1.5rem;
    --default-border-radius: 8px;

    --c-primary: #99ddcc;
    --c-primary-darker: #438c7a;
    --c-secondary: #ff5da2;
    --c-tertiary: #b643cd;
    --c-white: #fff;
    --c-black: #000;

    --z-index-0: 0;
    --z-index-1: 1;
    --z-index-2: 2;
    --z-index-3: 3;
  }

  *,
  *:before,
  *:after {
    box-sizing: border-box;
  }

  html {
    font-family: 'Quicksand', sans-serif;
    box-sizing: border-box;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.2;
    margin: 0;
    padding: 0;
  }

  body {
    margin: 0;
    padding: 0;
  }

  main {
    width: 100%;
    margin: auto;
  }

  img {
    vertical-align: bottom;
  }
</style>
