---
import Layout from '../layouts/Layout.astro';
import Avatar from '../components/Avatar.astro';
---

<Layout title="Homepage">
  <section>
    <p>Hi! Hola! Cześć!</p>
    <h1>My name is Paweł Mrowiec.</h1>
    <h2>I'm programmer passionate about Web technologies.</h2>
    <p>Currently: Freelance</p>
  </section>

  <Avatar size="large" />
</Layout>

<style></style>
