---
import DefaultLayout from '../layouts/DefaultLayout/DefaultLayout.astro';
import Avatar from '../components/Avatar.astro';
import ContactForm from '../components/ContactForm/ContactForm.astro';
// @ts-ignore-error
import { validateContactForm, generateRedirectUrl } from '../components/ContactForm/utils';
import { Mailer } from '../services/Mailer';
import Projects from '../components/Projects.astro';
import Articles from '../components/Articles.astro';

let validationResult: ReturnType<typeof validateContactForm> | undefined;

if (Astro.request.method === 'POST') {
  try {
    validationResult = validateContactForm(await Astro.request.formData());

    if (validationResult.isValid) {
      await new Mailer().sendMail(
        validationResult.values.name,
        validationResult.values.email,
        'Message from personal website',
        validationResult.values.message,
      );

      // TODO Integrate server side captcha?

      return Astro.redirect(generateRedirectUrl(Astro.request.url, true), 302);
    } else {
      // Allow to pass error down and render corresponding view
    }
  } catch (error) {
    if (error instanceof Error) {
      // TODO Integrate with sentry or something
      console.error(error.message);
    }

    return Astro.redirect(generateRedirectUrl(Astro.request.url, false), 302);
  }
}

export const prerender = false;
---

<DefaultLayout title="Homepage">
  <section id="introduction-section">
    <p>Hi! Hola! Cześć!</p>
    <h1>My name is Paweł Mrowiec.</h1>
    <h2>I'm programmer passionate about Web technologies.</h2>
    <p>Currently: Freelance</p>

    <Avatar size="large" />
  </section>

  <section id="projects-section">
    <h1>Projects</h1>

    <Projects />
  </section>

  <section id="articles-section">
    <h1>Articles</h1>

    <Articles />
  </section>

  <section id="contact-section">
    <h1>Contact</h1>

    <ContactForm validationResult={validationResult} />
  </section>
</DefaultLayout>
