---
import ContactForm from './ContactForm/ContactForm.astro';
import type { validateContactForm } from './ContactForm/utils';
import WaveSection from './WaveSection.astro';

export type Props = {
  validationResult: ReturnType<typeof validateContactForm> | undefined;
};
---

<WaveSection id="contact" title="Contact" color="tertiary" oppositeColor="secondary">
  <div class="wrapper">
    <p class="text">
      It's great that you want to contact with me!<br />
      I'll be happy to answer any of your questions.
    </p>
    <ContactForm validationResult={Astro.props.validationResult} />
  </div>
</WaveSection>

<style>
  .wrapper {
  }
</style>
