---
import Container from '../components/Container.astro';
import Avatar from '../components/Avatar.astro';
---

<Container size="standard">
  <section id="introduction-section">
    <div>
      <p class="text">Hi! Hola! Cześć!</p>
      <h1>My name is Paweł Mrowiec.</h1>
      <h2>I'm programmer passionate about Web technologies.</h2>
    </div>

    <Avatar size="large" />
  </section>
</Container>

<style>
  section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 50vh;
  }

  .text {
    font-size: 18px;
  }
</style>
