---
import Container from '../components/Containers/Container.astro';
import Avatar from '../components/Avatar.astro';
---

<Container>
  <section id="introduction-section">
    <div class="text-wrapper">
      <p class="text">Hi! Hola! Cześć!</p>
      <h1 class="heading-text">My name is Paweł Mrowiec.</h1>
      <h2 class="heading-text">I'm programmer passionate about Web technologies.</h2>
    </div>

    <Avatar size="large" />
  </section>
</Container>

<style>
  #introduction-section {
    display: flex;
    flex-flow: column-reverse;
    justify-content: space-between;
    align-items: center;
    min-height: 50vh;
    padding: 1rem;

    @media (width >= 768px) {
      flex-flow: row;
    }
  }

  .text-wrapper {
    & .text {
      font-size: 1rem;
      margin: 1rem 0;
    }

    & .heading-text {
      margin: 1rem 0;
    }
  }
</style>
