---
import { Picture } from '@astrojs/image/components';
import { getCollection } from 'astro:content';
import WaveSection from './WaveSection.astro';

const projects = await getCollection('projects');
---

<WaveSection id="projects" title="Projects" color="primary">
  <ul class="projects">
    {
      projects.map(project => (
        <li class="project">
          <Picture class="image" src={import('../assets/projects/pilot_1.png')} widths={[700, 1400]} alt="x" />

          <div class="details">
            <h3>{project.data.title}</h3>
            <p>{project.data.lead}</p>
            <a href={`/projects/${project.slug}`}>Learn more</a>
          </div>
        </li>
      ))
    }
  </ul>
</WaveSection>

<style>
  .projects {
    padding: 0;
    margin: 0;
  }

  .project {
    list-style: none;
    display: flex;
  }

  .image {
    border-radius: 8px;
    aspect-ratio: 16/9;
    width: 768px;
  }

  .details {
    padding: 1rem 2rem;

    & h3 {
      font-size: 1.5rem;
    }

    & a {
      text-decoration: none;
      color: #000;
      cursor: pointer;
      font-weight: 500;
    }
  }
</style>
