---
export interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Paweł Mrowiec's portfolio, articles and contact information." />
    <meta
      name="keywords"
      content="paweł mrowiec,tavoite,it,php,javascript,nodejs,deno,html,css,symfony,react,nextjs,linux,dev,frontend,backend,fullstack,freelance,freelancer"
    />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="format-detection" content="telephone=no" />

    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <title>Paweł Mrowiec - {title}</title>
  </head>
  <body>
    <slot />
  </body>
</html>
<style is:global>
  html {
    font-family: system-ui, sans-serif;
  }
</style>
