---
const { class: className } = Astro.props;
---

<li class:list={['slide', className]}>
  <slot />
</li>

<style>
  .slide {
    flex: 0 0 100%;
    list-style: none;
    scroll-snap-align: start start;
  }
</style>
